<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>게시글 목록</title>
    </head>
    <body>
        <h1>게시글 목록</h1>
        <a th:href="@{/posts/new}">글 작성</a>
        <ul>
            <li th:each="post : ${posts}">
                <a
                    th:href="@{/posts/{id}(id=${post.id})}"
                    th:text="${post.title}"
                    >제목</a
                >
                -
                <span th:text="${post.username}">작성자</span>
                <span th:text="${post.createdAt}">작성일</span>
            </li>
        </ul>
    </body>
</html>
