<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pet 등록</title>
</head>
<body>
    <h2>동물 등록</h2>

    <!-- 로그인 상태 확인 -->
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>

    <form th:action="@{/pet/register}" method="post">
        <label>동물:</label><br>
        <input type="radio" id="dog" name="petType" value="강아지" required>
        <label for="dog">강아지</label>
        <input type="radio" id="cat" name="petType" value="고양이" required>
        <label for="cat">고양이</label><br><br>

        <label for="petBreed">종:</label>
        <input type="text" id="petBreed" name="petBreed" placeholder="예: 시츄" required><br><br>

        <label for="weight">체중 (kg):</label>
        <input type="number" id="weight" name="weight" placeholder="예: 5.3" step="0.1" required><br><br>

        <label for="petName">이름:</label>
        <input type="text" id="petName" name="petName" placeholder="예: 바둑이" required><br><br>

        <label for="petAge">나이 (살):</label>
        <input type="number" id="petAge" name="petAge" placeholder="예: 3" min="0" required><br><br>

        <label for="petGender">성별 :</label>
        <select id="petGender" name="petGender" required>
            <option value="male">수컷</option>
            <option value="female">암컷</option>
        </select><br><br>

        <button type="submit">동물 등록</button>
    </form>

    <br>
    <a th:href="@{/home}">홈으로</a>
</body>
</html>
