<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
</head>
<body>
    <h1>로그인</h1>
    <form action="/permit/auth/signin" method="post">
        <label>아이디: <input type="text" name="userId" required></label><br>
        <label>비밀번호: <input type="password" name="password" required></label><br>
        <button type="submit">로그인</button>
    </form>
    <div th:if="${param.error}">
        <p>로그인 실패. 다시 시도해주세요.</p>
    </div>
    <div>
        <a href="/oauth2/authorization/naver">네이버 로그인</a>
        <a href="/oauth2/authorization/kakao">카카오 로그인</a>
        <a href="/oauth2/authorization/google">구글 로그인</a>
    </div>
    <a th:href="@{/signup}">회원가입</a>
</body>
</html>

